<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>

    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
    <h3>遍历列表</h3>
    <ul>
        <li v-for="person in persons" :key="person.id">
            {{person.name}} --- {{person.age}}
        </li>
    </ul>
    <h3>遍历汽车信息对象</h3>
    <ul>
        <li v-for="(a, index) in car" :key="index">
            {{a}}
        </li>
    </ul>

    <h3>遍历字符串</h3>
    <ul>
        <li v-for="(a, index) in str" :key="index">
            {{a}}
        </li>
    </ul>
</div>
<script type="text/javascript">
    Vue.config.productionTip = false  // 设置为 false 以阻止 vue 在启动时生成生产提示。

    const vm = new Vue({
        el: '#app',
        data: {
            persons: [
                {
                    id: "001",
                    name: "张三",
                    age: "18"
                },
                {
                    id: "002",
                    name: "李四",
                    age: "19"
                },
                {
                    id: "001",
                    name: "小刘",
                    age: "20"
                }
            ],
            car:{
                name: "奥迪A8",
                price: "88W",
                color: "black"
            },
            str: "hello"
        },
        methods: {

        }
    })
</script>
</body>
</html>
