<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表过滤</title>

    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" placeholder="请输入姓名" v-model="keyWord">
    <ul>
        <li v-for="(person,index) in filterPersons" :key="person.id">
            {{person.name}} --- {{person.age}}
        </li>
    </ul>
</div>
<script type="text/javascript">
    Vue.config.productionTip = false  // 设置为 false 以阻止 vue 在启动时生成生产提示。

    // watch实现
    // const vm = new Vue({
    //     el: '#app',
    //     data: {
    //         keyWord:'',
    //         persons: [
    //             {
    //                 id: "001",
    //                 name: "张三",
    //                 age: "18",
    //                 sex: '男'
    //             },
    //             {
    //                 id: "002",
    //                 name: "李四",
    //                 age: "19",
    //                 sex: '女'
    //             },
    //             {
    //                 id: "003",
    //                 name: "小刘",
    //                 age: "20",
    //                 sex: '女'
    //             },
    //             {
    //                 id: "004",
    //                 name: "老刘",
    //                 age: "25",
    //                 sex: '男'
    //             }
    //         ],
    //         filterPersons: []
    //     },
    //     methods: {
    //     },
    //     watch: {
    //         keyWord: {
    //             immediate: true,
    //             handler(val) {
    //                 this.filterPersons = this.persons.filter((p) => {
    //                     return p.name.indexOf(val) !== -1
    //                 })
    //             }
    //             // keyWord(val) {
    //             //     this.filterPersons = this.persons.filter((p) => {
    //             //         return p.name.indexOf(val) !== -1
    //             //     })
    //             // }
    //         }
    //     }
    // })

    // computed实现
    const vm = new Vue({
        el: '#app',
        data: {
            keyWord:'',
            persons: [
                {
                    id: "001",
                    name: "张三",
                    age: "18",
                    sex: '男'
                },
                {
                    id: "002",
                    name: "李四",
                    age: "19",
                    sex: '女'
                },
                {
                    id: "003",
                    name: "小刘",
                    age: "20",
                    sex: '女'
                },
                {
                    id: "004",
                    name: "老刘",
                    age: "25",
                    sex: '男'
                }
            ],
        },
        computed: {
            filterPersons() {
                return this.persons.filter((p) => {
                    return p.name.indexOf(this.keyWord) !== -1
                })
            }
        }
    })
</script>
</body>
</html>
