<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model使用</title>
</head>
<body>

<div id="app">
    <input type="text" v-model="message">{{message}}
    <p></p>
<!--    选中哪个会赋值给gender-->
    <input type="radio" name="sex" value="男" v-model="gender">男
    <input type="radio" name="sex" value="女" v-model="gender">女
    <p></p>
    <select>

    </select>
</div>

<script src="../vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data:{
            message: 'v-model使用',
            gender: '',
            selected:'',
            data: []
        }
    })
</script>
</body>
</html>
